.Subscribe__root {
    position: relative;
    padding-top: 200px;
    box-sizing: border-box;
    z-index: 5;
    height: 100%;

    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Subscribe__bunker {
    position: absolute;
    left: calc(50% - 100px);
    bottom: 150px;
}

.Subscribe__tower__blurred {
    position: absolute;
    right: -320px;
    bottom: 0;
}

@media (max-width: 1100px) {
    .Subscribe__tower__blurred {
        display: none;
    }
}

.Subscribe__poster {
    position: absolute;
    left: calc(50% - 580px);
    bottom: 285px;
}

.Subscribe__content {
    text-align: left;
    width: 90%;
    max-width: 700px;
}

@media (max-width: 800px) {
    .Subscribe__content {
        margin-top: 50px;
    }
    .Subscribe__bunker {
        display: none;
    }

    .Subscribe__poster {
        display: none;
    }
}

.Subscribe__title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}



.Subscribe__footer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 55px;
}

.Subscribe__social__title {
    padding: 4px;
    margin: 0;
    font-size: 16px;
}

.Subscribe__social__icons a{
    margin: 10px;
    text-decoration: none;
}


/***************************************************************/
/******************** MailChimp subscribe ***********************/
.Subscribe__wrapper {
    clear: left;
    max-width: 700px;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
}

.Subscribe__warnSign {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: auto;
}

.Subscribe__hidden {
    position: absolute;
    left: -5000px;
}

#mc_embed_signup form {
    text-align: center;
    padding: 0;
    margin: 0;
}

.mc-field-group {
    display: inline-block;
}

#mc_embed_signup input.email {
    border: none;
    font-size: 20px;
    color: #f6f9e8;
    background-color: #bb3628;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    padding: 0 64px 0 12px;
    margin: 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#mc_embed_signup ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(246, 249, 232, 0.5);
    opacity: 1; /* Firefox */
}

#mc_embed_signup label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

#mc_embed_signup .clear {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    display: inline-block;
    z-index: 2;
}

/* positions button horizontally in line with input */
#mc-embedded-subscribe.button {
    font-size: 20px;
    border: none;
    letter-spacing: .03em;
    color: #f6f9e8;
    background-color: #4d7ca7;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    line-height: 60px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#mc-embedded-subscribe.button:hover {
    background-color: #3C5F86;
    cursor: pointer;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0 .5em 0 .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding: 1em .5em .5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
}

#mc_embed_signup #mce-error-response {
    display: none;
}

#mc_embed_signup #mce-success-response {
    color: #529214;
    display: none;
}

#mc_embed_signup label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
}