.About__root {
    position: relative;
    padding-top: 200px;
    box-sizing: border-box;
    z-index: 10;
    height: 100%;
}

.About__tree {
    position: absolute;
    left: calc(50% + 550px);
    bottom: 100px;
}

@media (max-width: 1400px) {
    .About__tree {
        display: none;
    }
}

.About__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.About__title {
    font-size: 18px;
    font-weight: bold;
}

.About__text {
    font-size: 14px;
    max-width: 600px;
    margin: 0;
}

.About__link__wrap {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    border-bottom: #bb3628 2px solid;
}

.About__link__wrap a {
    text-decoration: none;
    color: black;
    transition: all 0.23s ease-in-out 0s;
}

.About__link__wrap a:hover {
    color: #bb3628;
    cursor: pointer;
}

.About__room {
    width: 80%;
    max-width: 800px;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
}

@media (max-width: 500px) {
    .About__title {
        font-size: 14px;
    }

    .About__text {
        font-size: 12px;
    }

    .About__link__wrap {
        font-size: 16px;
    }

    .About__room {
        margin-bottom: 70px;
    }
}


