.About__root {
    display: inline-block;
    height: 100%;
    min-width: 320px;
    background: url("../../assets/bg_about.png") repeat-x center center;
    background-size: auto 100%;
    position: relative;
}

.About__title {
    font-size: 18px;
    font-weight: bold;
}

.About__text {
    font-size: 14px;
}

.About__gif {
    width: 90%;
    margin: 0 5%;
    max-width: 800px;
}

.About__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 110px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.About__footer__block {
    margin: 0 40px;
}

.About__footer__block p {
    margin: 0;
}

.About__awards__title {
    font-size: 20px;
    color: #bb3628;
    font-weight: bold;
}

.About__delimiter {
    width: 50px;
    height: 2px;
    background-color: #5a978f;
}

.About__nomination__title {
    font-size: 20px;
    font-weight: bold;
}

.About__footer__hidden {
    color: #a3a889;
}


@media (max-width: 400px) {
    .About__footer {
        bottom: 46px;
    }

    .About__footer__block {
        margin: 0 15px;
    }
}