@import url(https://fonts.googleapis.com/css?family=Molle:400italic&subset=latin,latin-ext);
#canv {
    position: absolute;
    pointer-events:none;
    z-index: 11;
}

.MainPage {
    text-align: center;
    background-color: #dee2cb;
    /*rgb(246, 249, 232);*/
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
}

.wall_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../assets/bg_wall.png") repeat-x left bottom;
    transform: translateY(-260px);
}

.snow_background {
    position: absolute;
    width: 100%;
    height: 260px;
    bottom: 0;
    left: 0;
    background-color: #f6f9e8;
}

.MainPage__scrollArea {
    width: 100%;
    height: 100%;
    overflow: hidden
    /*touch-action: manipulation;*/
}

.MainPage__scrollWrapper {
    height: 100%;
    display: flex;
    overflow: hidden
}

.page__header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.page__header span:hover, .page__header__selected {
    border-bottom: #bb3628 2px solid;
    cursor: pointer;
}

.page__header span {
    margin: 10px 20px 0;
}

.page__header_logo {
    width: 65%;
    max-width: 380px;
}

@media (max-width: 800px) {
    .page__header {
        display: block;
        margin-top: 10px;
        height: 95px;
    }

    .page__header span {
        font-size: 14px;
    }

    .page__header span:nth-child(1) {
        position: absolute;
        left: 0;
        top: 30px;
    }

    .page__header span:nth-child(2) {
        position: absolute;
        left: 25px;
        top: 55px;
    }

    .page__header span:nth-child(4) {
        position: absolute;
        right: 0;
        top: 30px;
    }

    .page__header span:nth-child(5) {
        position: absolute;
        right: 25px;
        top: 55px;
    }

    .wall_background {
        background-size: 75%;
        transform: translateY(-240px);
    }
}

@media (max-width: 400px) {
    .wall_background {
        background-size: 75%;
        transform: translateY(-200px);
    }

    .snow_background {
        height: 220px;
    }
}