.MainPage {
    text-align: center;
    background-color: rgb(246, 249, 232);
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.MainPage__scrollArea {
    width: 100%;
    height: 100%;
}

.MainPage__scrollWrapper {
    height: 100%;
    display: flex;

}



.MainPage__background__parallax {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
}
