.Trailer__root {
    display: inline-block;
    height: 100%;
    min-width: 320px;
    background: url("../../assets/bg_trailer.png") repeat-x center center;
    background-size: cover;
    position: relative;
}


.Trailer__video__wrapper {
    width: 760px;
    height: 478px;
    margin: 0 auto;
    background: url("../../assets/video_frame.png") no-repeat center center;
    background-size: 100% 100%;
}

.Trailer__video {
    margin-top: 60px;
}

.Trailer__scrollText {
    position: absolute;
    bottom: 40px;
    right: 30px;
}
