body, html, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    color: #13303f;
    overflow: hidden;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.BOLD {
    font-weight: bold;
}

input {
    font-family: 'Saira', sans-serif;
}

.hidden {
    display: none;
}

/********************************************/
/**************** Button link  **************/
.link__button__wrapper {
    width: 300px;
    position: relative;
    margin: 0 auto;
}

.link__button {
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
    font-size: 20px;
    color: #f6f9e8;
    background-color: #59988f;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    margin: 0;
    vertical-align: top;
    outline: none;
    text-decoration: none;
}

.link__warnSign {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: auto;
}

.link__button:hover {
    background-color: #38746b;
    cursor: pointer;
}