body, html, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    color: #13303f;
}

input {
    font-family: 'Saira', sans-serif;
}

.hidden {
    display: none;
}

.page__header {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page__header span:hover, .page__header__selected {
    border-bottom: #bb3628 2px solid;
    cursor: pointer;
}

.page__header span {
    margin: 0 20px 20px;
}

.page__header_logo {
    width: 70%;
    max-width: 380px;
}

@media (max-width: 800px) {
    .page__header {
        display: block;
        margin-top: 20px;
    }

    .page__header span:nth-child(1) {
        position: absolute;
        left: 0;
        top: 85px;
    }

    .page__header span:nth-child(2) {
        position: absolute;
        left: 25px;
        top: 115px;
    }

    .page__header span:nth-child(4) {
        position: absolute;
        right: 0;
        top: 85px;
    }

    .page__header span:nth-child(5) {
        position: absolute;
        right: 25px;
        top: 115px;
    }
}