.Toy__root {
    position: relative;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.Toy__tree__blurred {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.Toy__poster {
    position: absolute;
    left: calc(50% - 675px);
    bottom: 265px;
}

@media (max-width: 800px) {
    .Toy__poster {
        display: none;
    }
}

@media (max-width: 1400px) {
    .Toy__tree__blurred {
        display: none;
    }
}

.Toy__figure {
    position: absolute;
    width: 100%;
    max-width: 1020px;
    height: 100%;
    background: url("../../assets/figure.png") no-repeat center bottom transparent;
    background-size: cover;
}


.Toy__button__wrapper {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Toy__button {
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
    font-size: 20px;
    color: #f6f9e8;
    background-color: #59988f;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    margin: 0;
    vertical-align: top;
    outline: none;
    text-decoration: none;
}

.Toy__warnSign {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: auto;
}


.Toy__button:hover {
    background-color: #38746b;
    cursor: pointer;
}

.Toy__footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.Toy__footer__text {
    font-size: 15px;
    margin-bottom: 5px;
}

.Toy__footer__logo {
    width: 126px;
    height: 19px;
}