.Toy__root {
    position: relative;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.Toy__tree__blurred {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.Toy__poster {
    position: absolute;
    left: calc(50% - 600px);
    bottom: 265px;
}

@media (max-width: 800px) {
    .Toy__poster {
        display: none;
    }
}

@media (max-width: 1400px) {
    .Toy__tree__blurred {
        display: none;
    }
}

.Toy__figure {
    position: absolute;
    width: 100%;
    max-width: 1020px;
    height: 100%;
    background: url("../../assets/figure.png") no-repeat center bottom transparent;
    background-size: cover;
}

.Tou__button_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Toy__footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.Toy__footer__text {
    font-size: 15px;
    margin-bottom: 5px;
}

.Toy__footer__logo {
    width: 126px;
    height: 19px;
}